# Environnement virtuel
venv/
env/
ENV/

# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class

# Fichiers générés par les simulations
results/



# Fichiers compilés Fortran
*.o
*.mod
*.exe
heat

# Fichiers système
.DS_Store
Thumbs.db
